<!DOCTYPE html>
<html lang="en">

<head>
    <title>Platformer</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <canvas class="canvas"></canvas>
    <div id="menuContainer"></div>
    
    <script src="../js/utils/utils.js"></script>
    <script src="../js/utils/mapUtils.js"></script>
    <script src="../js/utils/menuUtils.js"></script>
    <script src="../js/utils/roundUtils.js"></script>
    <script src="../js/utils/serverUtils.js"></script>
    
    <script src="../js/controlAndAnimation.js"></script>

    <script src="../js/classes/collisionBlock.js"></script>
    <script src="../js/classes/sprite.js"></script>
    <script src="../js/classes/background/layer.js"></script>
    <script src="../js/classes/background/backgroundLayered.js"></script>
    <script src="../js/classes/box/boxObject.js"></script>
    <script src="../js/classes/box/box.js"></script>
    <script src="../js/classes/player/player.js"></script>
    <script src="../js/classes/player/onlinePlayer.js"></script>
    <script src="../js/classes/player/selectablePlayer.js"></script>
    <script src="../js/classes/camera.js"></script>
    <script src="../js/classes/mouse.js"></script>
    <script src="../js/classes/particle.js"></script>
    <script src="../js/classes/interactableArea.js"></script>
    
    <script src="../js/data/maps/lobby.js"></script>
    <script src="../js/data/maps/forest.js"></script>
    
    <script src="../js/data/players/players.js"></script>
    <script src="../js/data/players/onlinePlayers.js"></script>
    <script src="../js/data/boxObjects.js"></script>
    
    <script src="../js/index.js"></script>

    <script src="../../socket.io/socket.io.js"></script>
    <script src="../js/client.js"></script>
</body>
</html>